/*
	Module: Fruits
*/

.fruits {
	max-width: 500px
	margin: 0 auto
	margin-top: 100px
	h2 {
		font-size: 30px
		margin-bottom: 20px
	}
	+below('s') {
		max-width: 100%
		margin: 100px 0
		padding: 0 20px
	}
}
