@import 'base-styles/css-reset'
@import 'base-styles/css-form-reset'
@import 'base-styles/variables'
@import 'base-styles/base'

@import 'modules/**'

.demo {
	max-width: 400px
	margin: 60px auto
	text-align: center
	h2 {
		font-size: 30px
		margin: 20px 0
	}
	img {
		max-width: 100px
	}
}
